---
layout: base
---
<section>
  {% if site.posts %}
  {% for post in site.posts %}
  <div class="post-container">
    <a href="{{post.url}}">
      <h2>{{post.title}}</h2>
    </a>
    <a href="{{post.url}}" class="clickable-image">
      <img src="/assets/img/{{post.hero_image_src}}" alt="{{post.hero_image_desc}}">
    </a>
    <p>{{post.above_the_fold}}</p>
    <a href="{{post.url}}" class="read-more text-italic">Read more</a>
  </div>
  {% endfor %}
  {% endif %}

  {{ content }}

</section>
